.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55)),
    url(../images/dark-leather.png);
  max-width: 100%;
  padding: 4rem 2rem 2rem;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  a {
    transition: all 0.33s;
    color: $nav-link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-shadow: 0 0 15px $nav-link-hover-1-color,
        0px -5px 20px $nav-link-hover-2-color,
        0 5px 20px $nav-link-hover-3-color;
      color: #fff;
      background-color: transparent;
    }
  }

  &__nav {
    text-align: left;
  }

  &__social {
    text-align: right;

    a {
      padding: 0.5rem;
    }

    span {
      font-size: $font-large;
    }
  }

  &__copyright {
    font-size: $font-extra-large;
    text-align: center;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.2rem;
    color: $nav-text-color;
    margin-top: 1.75rem;
  }
}
