doctype html
html.h-100(lang="es")
  head
    include ../blocks/common/metatags
    title Argenthian Online
    include ../blocks/common/styles
  body
    header.header
      include ../blocks/header
    main.main.container-fluid
      include ../blocks/main
    footer.footer.container.mt-auto
      include ../blocks/footer
    //- modal container
    include ../blocks/modal
    //- toast
    include ../blocks/toast
  include ../blocks/common/scripts