doctype html
html.h-100(lang="es")
  head
    include ../blocks/common/metatags
    title Argenthian Online
    include ../blocks/common/styles
  body.d-flex.flex-column.h-100
    header.header
      include ../blocks/header
    main.main.container-fluid
      include ../blocks/main
    footer.footer.container.mt-auto
      include ../blocks/footer
    //- modal container
    #modal.modal(tabindex='-1')
      include ../blocks/modal
  include ../blocks/common/scripts