h2,
h3 {
  text-align: center;
  text-transform: uppercase; }

h2.title {
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #ecd19a;
  text-shadow: 0px 0px 6px #000000; }

h3 {
  color: #ad835a;
  text-shadow: 0px 0px 4px #000000; }
  h3.subtitle {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s; }

section > .container {
  max-width: 970px;
  margin: 0 auto; }

p.description {
  margin: 1rem auto 0 auto;
  width: 70%;
  font-family: Helvetica, Arial, sans-serif;
  color: #71675b;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  line-height: 1.6rem; }

.divider {
  height: 55px;
  margin: -18px -12px;
  position: relative;
  z-index: 1; }
  .divider:before {
    left: 0;
    margin-right: 82px;
    right: 50%;
    background: url(../images/divider-sprite.png) repeat-x 50% 0;
    content: '';
    height: 55px;
    position: absolute;
    top: 0; }
  .divider:after {
    left: 50%;
    margin-left: 82px;
    right: 0;
    background: url(../images/divider-sprite.png) repeat-x 50% 0;
    content: '';
    height: 55px;
    position: absolute;
    top: 0; }
  .divider__rule {
    background: url(../images/divider-sprite.png) repeat-x 50% 100%;
    border: 0;
    left: 50%;
    margin: 0 0 0 -82px;
    position: absolute;
    top: 5px;
    width: 164px;
    height: 55px !important;
    opacity: 1 !important; }

.separator {
  background: url(../images/separator.png) 50% 100% no-repeat;
  position: relative;
  height: 70px; }

.main {
  margin-top: 56px; }

.section-1 {
  height: 75vh;
  align-items: center;
  background: linear-gradient(to right, #000000, #434343); }
  .section-1__title {
    color: #fff; }

.section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55)), url(../images/dark-wall.png); }
  .section-2__item {
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer; }
  .section-2__image {
    width: 100%;
    border: 1px solid;
    opacity: 0.5;
    transition: all 0.5s;
    box-shadow: 0px 0px 25px 0px #000000; }
  .section-2__description {
    font-family: Helvetica, Arial, sans-serif;
    color: #71675b;
    font-size: 0.85em;
    text-align: left;
    transition: all 0.5s;
    font-weight: 400;
    line-height: 1.4rem; }

.section-3 {
  background-image: url(../images/dark-leather.png); }
  .section-3__video {
    margin-top: 2rem;
    margin-bottom: 4rem; }

.section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55)), url(../images/dark-wall.png); }
  .section-4__item {
    position: relative;
    box-shadow: 5px 0px 35px 5px rgba(0, 0, 0, 0.54);
    transition: background-color 0.2s, box-shadow 0.2s;
    background-color: #3f2f29;
    padding: 1px;
    margin-top: 2rem;
    margin-bottom: 4rem; }
  .section-4__image {
    width: 100%; }
  .section-4 .container > .row:last-child {
    justify-content: center; }
  .section-4 .panel-item {
    background-color: rgba(24, 10, 7, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 54px;
    min-height: 55px;
    padding: 16px 28px;
    border-right: 1px solid #3f2f29;
    border-left: 1px solid #3f2f29;
    transition: border 0.2s; }
    .section-4 .panel-item__title {
      color: #ecd19a;
      text-align: left;
      margin: 3px 0 7px;
      transition: color 0.2s; }
    .section-4 .panel-item__text {
      color: #ad835a;
      line-height: 19px;
      margin: 4px 0;
      transition: color 0.2s; }
  .section-4 .button-game {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 54px;
    padding: 0 3px;
    position: relative;
    text-align: center;
    width: 100%; }
    .section-4 .button-game__left {
      background: url(../images/button-sprite.png) no-repeat 0 -108px;
      height: 54px;
      left: 0;
      position: absolute;
      top: 0;
      width: 51px;
      z-index: 1; }
    .section-4 .button-game__mid {
      background: url(../images/button-sprite.png) repeat-x 0 0;
      color: #f3aa55;
      display: block;
      letter-spacing: 1px;
      font-weight: 700;
      padding: 0 42px;
      position: relative;
      text-shadow: 0 0 8px #000000;
      transition: color 0.2s; }
    .section-4 .button-game__right {
      background: url(../images/button-sprite.png) no-repeat 0 -162px;
      height: 54px;
      position: absolute;
      right: 0;
      top: 0;
      width: 51px;
      z-index: 1; }

.section-5 {
  /* fondo
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.25)), url(../images/developers.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 -10px 50px #000000;*/
  background: linear-gradient(to right, #000000, #434343); }
  .section-5__cite {
    display: block;
    margin-top: 10px;
    text-align: center; }
  .section-5__image {
    margin: 15px 15px 0 0;
    border: 1px solid #752b1a;
    height: auto;
    width: 70%;
    display: inline-block;
    box-shadow: 0 0 10px #000000; }
  .section-5__blockquote {
    border: none;
    color: #fffcd9;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1rem;
    text-align: center; }
  .section-5__text {
    color: #ecd19a;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center; }

.footer__year {
  font-size: 2em;
  text-align: center; }
