block footer
  .row
    .col-md-6.col-xs-12
      nav.footer__nav 
        ul
          li
            a(href="#heroes") Heroes
          li 
            a(href="#gallery") Gallery
          li 
            a(href="#store") Store
          li 
            a(href="#contact") Contact
    .col-md-6.col-xs-12
      nav.footer__social
        ul 
          li 
            a(href="https://www.youtube.com/channel/UCmzglh4l6oC7X0ska2Bxmyw/featured", target="_blank")
              span.fab.fa-youtube
  .row 
    p.footer__copyright Copyright © 2021 by Argenthian