block navbar 
  nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
    .container-fluid
      a.navbar-brand(href='#') Argenthian
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-between
        ul.navbar-nav
          li.nav-item
            a.nav-link.navbar__link(aria-current='page' href='#heroes') Heroes
          li.nav-item
            a.nav-link.navbar__link(href='#gallery') Gallery
          li.nav-item
            a.nav-link.navbar__link(href='#store') Store
          li.nav-item
            a.nav-link.navbar__link(href='#contact') Contact
        .justify-content-end
          button(type="button", class="btn btn-outline-warning mx-1", id="btnLogin") Login
          button(type="button", class="btn btn-outline-danger", id="btnSignup") Sign-up