block main
  section.row.section-1
    include ./section-1
  include ./divider
  section.row.section-2#heroes
    include ./section-2
  include ./divider
  section.row.section-3#gallery
    include ./section-3
  include ./divider
  section.row.section-4#store
    include ./section-4
  include ./divider
  section.row.section-5
    include ./section-5
  include ./divider
  section.row.section-6#contact
    include ./section-6
  include ./divider