.container 
  .row 
    h2.title Lorem ipsum dolor sit amet
    p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .row 
    .ratio.ratio-16x9.section-3__video
      iframe(src="https://www.youtube.com/embed/jBA4h-DBj1k", class="embed-responsive-item", allow="fullscreen")