.container 
  .row 
    h2.title Lorem ipsum dolor sit amet
    p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  .row.separator
    br
  .row
    h2.title Lorem ipsum dolor sit amet
    article.section-2__item.col-sm-6.col-md-3
      img(src="./images/character.png", alt="lorem", class="section-2__image")
      h3.subtitle Lorem ipsum
      p.section-2__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    article.section-2__item.col-sm-6.col-md-3
      img(src="./images/character.png", alt="lorem", class="section-2__image")
      h3.subtitle Lorem ipsum
      p.section-2__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    article.section-2__item.col-sm-6.col-md-3
      img(src="./images/character.png", alt="lorem", class="section-2__image")
      h3.subtitle Lorem ipsum
      p.section-2__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    article.section-2__item.col-sm-6.col-md-3
      img(src="./images/character.png", alt="lorem", class="section-2__image")
      h3.subtitle Lorem ipsum
      p.section-2__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
