.container 
  .row
    h2.title Lorem ipsum dolor sit amet
  .row
    article.col-md-4
      cite.section-5__cite
        img(src="./images/developer.png", alt="developer", class="section-5__image")
      blockquote.section-5__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p.section-5__text
        strong Lorem ipsum
        | , Developer
    article.col-md-4
      cite.section-5__cite
        img(src="./images/developer.png", alt="developer", class="section-5__image")
      blockquote.section-5__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p.section-5__text
        strong Lorem ipsum
        | , Developer
    article.col-md-4
      cite.section-5__cite
        img(src="./images/developer.png", alt="developer", class="section-5__image")
      blockquote.section-5__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p.section-5__text
        strong Lorem ipsum
        | , Developer