.container 
  .row 
    h2.title Lorem ipsum dolor sit amet
    p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .row
    article.section-4__item.col-md-6
      img(src="./images/download.png", alt="lorem", class="section-4__image")
      .panel-item
        h3.panel-item__title PC Version
        p.panel-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      a(href="https://google.com.ar", target="_blank" class="button-game")
        span.button-game__left
        span.button-game__mid
          span Download
        span.button-game__right