// colors
$primary-color: #3f2f29;
$secondary-color: #fffcd9;
$default-text-color: #71675b;
$primary-text-color: #ecd19a;
$secondary-text-color: #ad835a;
$accent-text-color: #f3aa55;
$border-color: #752b1a;

// sizes
$mobile-size: 576px;
$tablet-size: 768px;
$desktop-size: 1200px;

// variable width
$container-width: 970px;
