// colors
$primary-color: #3f2f29;
$secondary-color: #fffcd9;
$default-text-color: #71675b;
$primary-text-color: #ecd19a;
$secondary-text-color: #ad835a;
$accent-text-color: #f3aa55;
$red-color: #752b1a;
$gradient-1-color: #b93a27;
$gradient-2-color: #9e1e0b;
$input-bg-color: #29221c;
$input-border-color: #62351f;
$input-border-top-color: #734a32;
$footer-text-color: #734a32;
$footer-link-color: #c4ae78;
$footer-link-hover-1-color: #99774c;
$footer-link-hover-2-color: #a17e51;
$footer-link-hover-3-color: #96744a;

// responsive
$mobile-size: 576px;
$tablet-size: 768px;
$desktop-size: 1200px;

// font
$font-normal: 1em;
$font-small: 0.9em;
$font-large: 1.5em;
$font-extra-large: 1.7em;

// variable width
$container-width: 970px;
