// colors
$primary-color: #fff;
$secondary-color: #fff;
$default-text-color: #71675b;
$primary-text-color: #ecd19a;
$secondary-text-color: #ad835a;

// sizes
$mobile-size: 576px;
$tablet-size: 768px;
$desktop-size: 1200px;
